.header {
  background: url("../img/bg-header.png") center top no-repeat/cover; }

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.img-pc {
  margin-top: -80px;
  width: 80%;
  padding-bottom: 80px; }
  .img-pc img {
    min-height: 1000px; }

.header__text {
  max-width: 700px;
  font-weight: 700;
  color: #D3A543;
  font-size: 40pt;
  text-align: right;
  margin-top: 40px;
  margin-right: 60px; }

.sub__title {
  text-transform: uppercase;
  padding-top: 50px; }

@media (max-width: 1200px) {
  .img-pc img {
    min-height: 600px; } }
@media (max-width: 908px) {
  .header__text {
    font-size: 26pt; } }
@media (max-width: 737px) {
  .img-pc img {
    min-height: 400px; } }
@media (max-width: 645px) {
  .header__text {
    font-size: 17pt; }

  .sub__title {
    padding-top: 15px; } }
@media (max-width: 534px) {
  .header__text {
    font-size: 14pt;
    margin-top: 38px;
    margin-right: 16px; }

  .sub__title {
    padding-top: 15px; } }
@media (max-width: 499px) {
  .img-pc img {
    min-height: 300px; } }
@media (max-width: 425px) {
  .header__text {
    font-size: 11pt;
    margin-top: 35px;
    margin-right: 16px; }

  .sub__title {
    padding-top: 15px; } }
@media (max-width: 382px) {
  .header__text {
    font-size: 9pt;
    margin-top: 35px;
    margin-right: 10px; }

  .sub__title {
    padding-top: 15px; } }
.home_page {
  background-color: #F5F5F5;
  height: 900px; }
  .home_page .lang-block {
    margin-top: 150px; }

.fix_width {
  opacity: 0; }

.shadow-title {
  position: relative; }

.shadow__element {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  max-width: 1712px;
  font-weight: 700;
  font-size: 90pt;
  opacity: 0.1;
  position: absolute;
  top: -100%;
  left: -8%;
  z-index: 999;
  text-transform: uppercase; }

.main-header__title {
  font-weight: 700;
  font-size: 40pt;
  color: #898989;
  text-transform: uppercase;
  padding-left: 140px; }

.header-text_animated {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: textwww;
          animation-name: textwww;
  z-index: 1; }

.animated-container {
  position: relative;
  overflow: hidden;
  width: 100%; }

.black-box {
  position: absolute;
  top: 20px;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: boxwww;
          animation-name: boxwww;
  z-index: 2; }

.text-wrap {
  max-width: 650px;
  text-align: right;
  padding-left: 130px; }

.text__paragraph {
  color: #898989;
  font-size: 14pt; }

@-webkit-keyframes textwww {
  from {
    opacity: 0; }
  50% {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes textwww {
  from {
    opacity: 0; }
  50% {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes boxwww {
  from {
    background: #303030;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    overflow: hidden; }
  70% {
    background: #303030; }
  to {
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
    background: #303030; } }
@keyframes boxwww {
  from {
    background: #303030;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    overflow: hidden; }
  70% {
    background: #303030; }
  to {
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
    background: #303030; } }
.animated-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.animated-container {
  position: relative;
  overflow: hidden;
  width: 100%; }

.lang-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 180px;
  margin: 0 auto; }

.lang__prof {
  color: #D3A543;
  font-size: 24pt;
  font-weight: 700; }

@media (max-width: 785px) {
  .text-wrap {
    width: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    text-align: justify;
    padding: 0 20px; } }
@media (max-width: 737px) {
  .shadow__element {
    font-size: 72pt;
    opacity: 0.1;
    position: absolute;
    top: -67%; } }
@media (max-width: 584px) {
  .main-header__title {
    padding-left: 0; }

  .shadow__element {
    font-size: 59pt;
    opacity: 0.1;
    position: absolute;
    top: -40%; } }
@media (max-width: 561px) {
  .home_page {
    height: 800px; } }
.desktop-main {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 38px -12px #24298f;
  box-shadow: 0px 0px 38px -12px #24298f; }

.lang-nav {
  background-color: #EBECEC;
  height: 40px; }

.eng-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.eng-img {
  height: 25px;
  width: auto;
  margin-top: 8px; }

.eng-icon {
  margin-left: 10px;
  opacity: 0.8;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear; }
  .eng-icon:hover {
    opacity: 1; }

.lang-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

#eng-icon-7 {
  margin-left: 100px; }

.eng-line {
  height: 18px;
  width: 1px;
  border-right: 2px solid #C5C6C6;
  border-radius: 1px;
  padding-left: 10px; }

.nav-desktop {
  background-color: #fff;
  height: 220px;
  border-bottom: 15px solid #D3A543; }

.img-logo {
  padding-top: 20px; }

.nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.desk-link {
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  margin: 0 10px;
  font-size: 16px;
  text-align: center;
  cursor: pointer; }

.center-logo-block {
  background-color: #F5F5F5; }

.center-logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px; }

.center-logo-img {
  margin-right: 30px; }

.line-center {
  height: 150px;
  margin-right: 60px;
  width: 1px;
  border-left: 3px solid #D3A543; }

.text-center-wrap {
  width: 55%; }

.btn {
  width: 140px;
  height: 40px;
  background-color: transparent;
  border: 3px solid #D3A543;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
  -webkit-transition: background-color .2s linear, color .2s linear;
  transition: background-color .2s linear, color .2s linear;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 113px; }
  .btn:hover {
    background-color: #D3A543;
    color: white; }

.btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 100px; }

.btn-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.mobile-img {
  z-index: 999; }

#mobile-img-1 {
  width: 600px;
  margin-top: -600px; }

#mobile-img-2 {
  width: 800px;
  margin-left: -347px;
  margin-top: -954px; }

#mobile-img-3 {
  width: 1000px;
  margin-right: -100px;
  margin-top: -832px; }

#mobile-img-4 {
  width: 1300px;
  margin-top: -1390px;
  margin-left: -300px; }

.flex-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.kolo-wrap {
  margin-top: -91px; }

.city-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 100px; }

.city-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 380px;
  height: auto;
  padding: 0 10px; }
  .city-profile img {
    min-height: 600px;
    width: 100%;
    height: auto; }
  .city-profile .line-center {
    margin-top: 450px;
    margin-left: 13px; }

.sub-mobile {
  max-width: 500px;
  margin: 0 auto;
  margin-top: -100px;
  text-align: center;
  font-size: 20px;
  color: #0E213F;
  margin-bottom: 100px; }

.practice-areas {
  background-color: #F5F5F5; }

.practice-areas .kolo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px; }
  .practice-areas .kolo-wrap img {
    width: 53%; }

.title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center; }

.main-title {
  width: 450px;
  padding-top: 22px;
  height: 80px;
  text-align: center;
  border: 4px solid #D9DADA;
  font-size: 30px;
  color: #0E213F;
  font-weight: 700;
  background-color: #fff;
  text-transform: uppercase;
  margin-top: -40px; }

.practice-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px; }

.practice-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 226px;
  cursor: pointer;
  width: 300px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin: 10px 30px; }
  .practice-profile img {
    width: 100%;
    height: auto; }

#pract-3-1 {
  margin-left: 7px; }

.shar-img {
  margin-bottom: -45px; }

#pract-5 {
  margin-top: 4px; }

.sub-main-title {
  max-width: 500px;
  font-size: 20px;
  color: #0E213F;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center; }

.blog-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.blog-profile {
  min-height: 450px;
  margin-top: 30px;
  width: 90%; }

.blog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 60px; }

#blog-wrap-2 {
  margin-top: -60px; }

#blog-wrap-3 {
  margin-top: -24px; }

.pre-footer {
  background-color: #162338;
  margin-top: -5px; }

.pre-logo-img {
  max-width: 350px; }

.pre-footer-wrap {
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.pre-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 75px; }
  .pre-btn-wrap .btn {
    color: #fff;
    margin-right: 30px; }
    .pre-btn-wrap .btn:hover {
      color: #162338; }

.persons img {
  min-height: 300px; }

#pre-btn-1 {
  width: 178px; }

.desk-footer {
  background-color: #0E213F; }

.left-content {
  width: 30%;
  margin-right: 30px; }

.soc-profile {
  margin-right: 18px;
  width: 10%; }

.soc-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px; }

.left-title {
  margin-top: 20px;
  margin-left: 5px;
  color: #fff;
  font-size: 22px;
  font-weight: 400; }

.footer-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 50px; }

.foot-title {
  color: #D3A543;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px; }

.position-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 25px;
  margin-top: 20px; }

.right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-left: 2px solid #fff;
  padding-left: 42px; }

.foot-link {
  color: #fff;
  font-size: 15px; }

.foot-link-wrap {
  margin-top: 20px; }

.bg-sect-wrap {
  background: url("../img/bg-desk-main.png") center top no-repeat/cover; }

.form-wrap {
  width: 100%;
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.form-main {
  margin-left: 50px;
  width: 450px;
  background-color: rgba(211, 165, 67, 0.6); }

.input-desktop-block {
  background: url("../img/desk-input-bg.png") left top no-repeat;
  height: 527px; }

.input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.input-desk {
  border: none;
  outline: none;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  border-radius: 5px;
  width: 158px;
  height: 25px;
  padding-left: 15px; }

.main-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
  height: 65px;
  margin-left: 10%;
  font-size: 13px; }

#input-desk-2, #input-desk-4 {
  margin-left: 30px; }

.comment {
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  width: 340px;
  height: 70px;
  margin-top: 20px;
  margin-left: 12%;
  padding: 10px 20px; }

.btn-desk {
  display: block;
  outline: none;
  width: 120px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #D3A543;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 13px;
  margin-left: 276px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: white; }

.ask {
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  font-size: 25px;
  color: #fff;
  width: 300px;
  margin-top: 25px;
  margin-bottom: 14px; }

input[type="text"]::-webkit-input-placeholder {
  color: white; }

input[type="text"]:-ms-input-placeholder {
  color: white; }

input[type="text"]::-ms-input-placeholder {
  color: white; }

input[type="text"]::placeholder {
  color: white; }

textarea::-webkit-input-placeholder {
  color: white; }

textarea:-ms-input-placeholder {
  color: white; }

textarea::-ms-input-placeholder {
  color: white; }

textarea::placeholder {
  color: white; }

@media (max-width: 1400px) {
  .mobile-img {
    display: none; }

  #mobile-img-3 {
    width: 1000px;
    margin-right: 0;
    margin-top: -832px; } }
@media (max-width: 1138px) {
  .practice-profile {
    min-height: 105px; }

  .city-profile img {
    min-height: 515px; }

  .city-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .city-profile {
    margin-top: 50px; }
    .city-profile .line-center {
      display: none; } }
@media (max-width: 1080px) {
  .soc-profile {
    margin-right: 5px;
    width: 50%; }

  .blog-profile {
    min-height: 350px; }

  .shar-img {
    margin-bottom: -34px; } }
@media (max-width: 871px) {
  .sub-mobile {
    margin-top: -61px; } }
@media (max-width: 832px) {
  .blog-profile {
    min-height: 250px; }

  #pract-3-1 {
    margin-left: 4px; } }
@media (max-width: 621px) {
  .shar-img {
    margin-bottom: -19px; } }
@media (max-width: 733px) {
  .sub-mobile {
    margin-top: -61px;
    margin-left: 140px; } }
@media (max-width: 1138px) {
  .practice-profile {
    min-height: 65px; } }
@media (max-width: 521px) {
  .sub-mobile {
    font-size: 15px; } }
@media (max-width: 514px) {
  .main-title {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 22px;
    font-size: 26px;
    margin-top: -40px; }

  .practice-profile {
    min-height: 45px; } }
@media (max-width: 478px) {
  .sub-mobile {
    margin-top: -45px;
    margin-left: 112px; } }
@media (max-width: 716px) {
  .pre-btn-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 60px; }

  .pre-btn-wrap .btn {
    margin-right: 10px;
    margin-bottom: 0; }

  .persons img {
    min-height: 200px; } }
@media (max-width: 1162px) {
  .text-center-wrap {
    width: 52%;
    padding-right: 10px; } }
@media (max-width: 604px) {
  .center-logo-block .btn {
    width: 134px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #D3A543;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    -webkit-transition: background-color .2s linear, color .2s linear;
    transition: background-color .2s linear, color .2s linear;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 113px;
    margin-left: 20px; }
  .center-logo-block .blog-profile {
    min-height: 200px; }
  .center-logo-block .form-main {
    margin: 0 auto; } }
@media (max-width: 531px) {
  .eng-icon {
    margin-left: 5px; }

  #eng-icon-7 {
    margin-left: 10px; }

  .form-main {
    margin: 0 auto; } }
@media (max-width: 478px) {
  .blog-profile {
    min-height: 150px; }

  .blog-profile {
    min-height: 150px; }

  .desk-link {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    margin: 0 7px;
    font-size: 9px;
    text-align: center;
    cursor: pointer; } }
@media (max-width: 466px) {
  .input-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .comment {
    margin-top: 82px;
    margin-left: 27%;
    width: 173px; }

  .btn-desk {
    margin-left: 162px; }

  #input-desk-2, #input-desk-4 {
    margin-left: 0; }

  .input-desk {
    margin-left: 0;
    margin-top: 8px; }

  .form-main {
    width: 312px;
    margin: 0 auto; } }
@media (max-width: 432px) {
  .footer-content-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .left-content {
    width: 90%;
    margin-right: 0px;
    margin: 0 auto; }

  .soc-profile {
    margin-right: 15px;
    width: 15%; }

  .right-content {
    border-left: none; }

  .pre-btn-wrap .btn {
    width: 105px;
    height: 32px;
    background-color: transparent;
    border: 3px solid #D3A543;
    text-align: center;
    font-size: 13px;
    padding-top: 4px;
    cursor: pointer;
    -webkit-transition: background-color .2s linear, color .2s linear;
    transition: background-color .2s linear, color .2s linear;
    margin: 0 auto;
    margin-top: 20px;
    margin-right: 8px; }
    .pre-btn-wrap .btn:hover {
      color: #d3a543; }

  #pre-btn-1 {
    width: 130px; } }
@media (max-width: 378px) {
  .blog-profile {
    min-height: 100px; } }
.more-mobile-block img {
  min-height: 850px; }

@media (max-width: 1410px) {
  .more-mobile-block img {
    min-height: 750px; } }
@media (max-width: 1194px) {
  .more-mobile-block img {
    min-height: 650px; } }
@media (max-width: 1100px) {
  .more-mobile-block img {
    min-height: 550px; } }
@media (max-width: 1000px) {
  .more-mobile-block img {
    min-height: 500px; } }
@media (max-width: 900px) {
  .more-mobile-block img {
    min-height: 450px; } }
@media (max-width: 800px) {
  .more-mobile-block img {
    min-height: 400px; } }
@media (max-width: 674px) {
  .more-mobile-block img {
    min-height: 350px; } }
@media (max-width: 574px) {
  .more-mobile-block img {
    min-height: 300px; } }
@media (max-width: 474px) {
  .more-mobile-block img {
    min-height: 250px; } }
@media (max-width: 374px) {
  .more-mobile-block img {
    min-height: 200px; } }
.typography {
  background-color: #0E213F;
  padding-bottom: 150px; }
  .typography .fix_width {
    margin-bottom: 200px; }
  .typography .shadow__element {
    color: #9BABD8; }
  .typography .text-wrap {
    padding-left: 0; }

.brand {
  color: #D3A543; }

.font-wrap {
  max-width: 1300px;
  margin: 0 auto; }

.font-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 100px; }

.font-img {
  max-width: 400px;
  margin-right: 80px; }
  .font-img img {
    min-height: 80px; }

.font-title-wrap {
  max-width: 913px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  margin: 0 auto; }

#text-wrap-1 {
  margin-left: 113px; }

@media (max-width: 642px) {
  #text-wrap-1 {
    margin-left: 0;
    margin-left: 30px; }

  .typography .text-wrap {
    width: 650px;
    margin-left: 30px; } }
@media (max-width: 598px) {
  .font-img img {
    min-height: 50px; } }
@media (max-width: 584px) {
  .typography .fix_width {
    margin-bottom: 100px; } }
@media (max-width: 642px) {
  .shar-img {
    margin-bottom: -19px; } }
@media (max-width: 444px) {
  .font-profile {
    margin-left: 31px; }

  .shar-img {
    margin-bottom: -13px; } }
@media (max-width: 420px) {
  .font-img img {
    min-height: 35px; } }
footer {
  background-color: #D3A543; }

.footer-block {
  background: url(../img/footer-bg.png) no-repeat center top 20px;
  background-size: 34%;
  height: 260px; }

.line {
  max-width: 237px;
  margin: 0 auto;
  border-bottom: 1px solid #E2C18B; }

#line-first {
  padding-top: 55px; }

#line-second {
  padding-top: 40px; }

.all-thanks {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 36px; }

.thanks {
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 24pt;
  margin-bottom: 15px;
  padding-top: 40px; }

.last-subtitle {
  max-width: 350px;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 11pt; }

.logo-footer-wrap {
  max-width: 183px;
  margin: 0 auto;
  padding-bottom: 50px; }

@media (max-width: 860px) {
  .text-center-wrap {
    padding-right: 0;
    width: 80%; }

  .center-logo-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .center-logo-wrap .line-center {
      display: none; }
    .center-logo-wrap .text__paragraph {
      text-align: justify; } }
@media (max-width: 478px) {
  .main-header__title {
    padding-left: 0;
    font-size: 32pt; }

  .shadow__element {
    font-size: 50pt;
    opacity: 0.1;
    position: absolute;
    top: -40%; } }
@media (max-width: 410px) {
  .main-header__title {
    padding-left: 0;
    font-size: 22pt; }

  .shadow__element {
    font-size: 39pt;
    opacity: 0.1;
    position: absolute;
    top: -54%; } }
@media (max-width: 952px) {
  .footer-block {
    background: url(../img/footer-bg.png) no-repeat center top 20px;
    background-size: 60%; } }
@media (max-width: 801px) {
  .footer-block {
    background: url(../img/footer-bg.png) no-repeat center top 30px;
    background-size: 70%; } }
@media (max-width: 750px) {
  .footer-block {
    background: url(../img/footer-bg.png) no-repeat center top 30px;
    background-size: 70%; } }
@media (max-width: 700px) {
  .footer-block {
    background: url(../img/footer-bg.png) no-repeat center top 30px;
    background-size: 80%; } }
@media (max-width: 593px) {
  .footer-block {
    background: url(../img/footer-bg.png) no-repeat center top 30px;
    background-size: 90%; } }
@media (max-width: 516px) {
  .footer-block {
    background: url(../img/footer-bg.png) no-repeat center top 30px;
    background-size: 100%; } }
@media (max-width: 459px) {
  .footer-block {
    background: url(../img/footer-bg.png) no-repeat center top 35px;
    background-size: 120%; } }
@media (max-width: 394px) {
  .footer-block {
    background: url(../img/footer-bg.png) no-repeat center top 50px;
    background-size: 130%; } }
@media (max-width: 340px) {
  .footer-block {
    background: url(../img/footer-bg.png) no-repeat center top 60px;
    background-size: 130%; } }
body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  max-width: 1400px;
  margin: 0 auto; }

.desk-container {
  max-width: 1200px;
  margin: 0 auto; }

img {
  max-width: 100%;
  height: auto; }

/*# sourceMappingURL=style.css.map */