.desktop {
	
	

	&-main {
		background-color: #fff;
		-webkit-box-shadow: 0px 0px 38px -12px rgba(36,41,143,1);
		-moz-box-shadow: 0px 0px 38px -12px rgba(36,41,143,1);
		box-shadow: 0px 0px 38px -12px rgba(36,41,143,1);
	}
}
.lang-nav {
	

	background-color: #EBECEC;
	height: 40px;
	
}
.eng-wrap {
	display: flex;
	align-items: center;
	
	

}
.eng-img {
	height: 25px;
	width: auto;
	margin-top: 8px;
	

}
.eng-icon {
	margin-left: 10px;
	opacity: 0.8;
	transition: opacity .2s linear;

	&:hover {
		opacity: 1;
	}
}
.lang-wrap {
	display: flex;
	justify-content: space-between;
}
#eng-icon-7 {
	margin-left: 100px;
}
.eng-line {
	height: 18px;
	width: 1px;
	border-right: 2px solid #C5C6C6;
	border-radius: 1px;
	padding-left: 10px;
}
.nav-desktop {
	background-color: #fff;
	height: 220px;
	border-bottom: 15px solid #D3A543;
}
.img-logo {
	padding-top: 20px;
}
.nav-wrap {
	display: flex;
	justify-content: space-between;
}
.navs {
	display: flex;
	justify-content: space-between;
	
}
.desk-link {
	text-decoration: none;
	list-style: none;
	text-transform: uppercase;
	margin: 0 10px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}

.center-logo-block {
	background-color: #F5F5F5;

}
.center-logo-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
}
.center-logo-img {
	
	margin-right: 30px;
}
.line-center {
	height: 150px;
	margin-right: 60px;
	width: 1px;
	border-left: 3px solid #D3A543;
}
.text-center-wrap {
	width: 55%;
}
.btn {
	width: 140px;
	height: 40px;
	background-color: transparent;
	border: 3px solid #D3A543;
	text-align: center;
	padding-top: 8px;
	cursor: pointer;
	transition: background-color .2s linear,
	color .2s linear;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 113px;



	&:hover {
		background-color: #D3A543;
		color: white;
	}
}
.btn-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 100px;
}
.btn-flex {
	display: flex;
	justify-content: space-between;
	width: 600px;
	align-items: center;
}
.mobile-img {
	
	
	

	z-index: 999;
	
}
#mobile-img-1 {
	width: 600px;
	margin-top: -600px;
}
#mobile-img-2 {
	width: 800px;
	margin-left: -347px;
    margin-top: -954px;

}
// fsdddddddddddddd==============================================
#mobile-img-3 {
	width: 1000px;
    margin-right: -100px;
    margin-top: -832px;
}
#mobile-img-4 {
	width: 1300px;
    margin-top: -1390px;
    margin-left: -300px;
}
.flex-mobile {
	display: flex;
	justify-content: space-between;
}
.kolo-wrap {
	
	margin-top: -91px;
}
.city-block {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 100px;
}
.city-profile {
	    display: flex;
    justify-content: space-between;
    max-width: 380px;
    height: auto;
    padding: 0 10px;

	img {
		min-height: 600px;
		width: 100%;
		height: auto;
	}
	.line-center {
		margin-top: 450px;
		margin-left: 13px;
	}
}
.kolo-wrap-2 {

}
.sub-mobile {
	max-width: 500px;
	
	margin: 0 auto;
	margin-top: -100px;
	text-align: center;
	font-size: 20px;
	color: #0E213F;
	margin-bottom: 100px;
}
.practice-areas {
	background-color: #F5F5F5;
	
}
.practice-areas {
	.kolo-wrap {
		display: flex;
		justify-content: space-between;
		margin-top: 50px;

		img {
			width: 53%;
		}

	}
}
.title-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	
	text-align: center;
}
.main-title {
	
	width: 450px;
	padding-top: 22px;
	height: 80px;
	text-align: center;
	border: 4px solid #D9DADA;
	font-size: 30px;
	color: #0E213F;
	font-weight: 700;
	background-color: #fff;
	text-transform: uppercase;
	margin-top: -40px;
}
.practice-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
}
.practice-profile {
	display: flex;
	flex-direction: column;
	min-height: 226px;
	cursor: pointer;
	width: 300px;
	flex-basis: 25%;
	margin: 10px 30px;
	img {
		width: 100%;
		height: auto;
	}
}
#pract-3-1 {
	margin-left: 7px;
}
.shar-img {
	margin-bottom: -45px;
}
#pract-5 {
	margin-top: 4px;
}
.sub-main-title {
	max-width: 500px;
	font-size: 20px;
	color: #0E213F;
	margin: 0 auto;
	margin-top: 20px;
	
	text-align: center;
}
.blog-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
.blog-profile {
	min-height: 450px;
	margin-top: 30px;
	width: 90%;
}
.blog-block {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 60px;

}
#blog-wrap-2 {
	margin-top: -60px;
}
#blog-wrap-3 {
	margin-top: -24px;

}
.pre-footer {
	background-color: #162338;
	margin-top: -5px;
}
.pre-logo-img {
	max-width: 350px;
}
.pre-footer-wrap {
	height: 170px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pre-btn-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 75px;
	.btn {
		color: #fff;
		margin-right: 30px;

		&:hover {
			color: #162338;
		}
	}
}
.persons {
	img {
		min-height: 300px;
	}
}
#pre-btn-1 {
	width: 178px;
}
.desk-footer {
	background-color: #0E213F;
	
}
.left-content {
	width: 30%;
	margin-right: 30px;
}
.soc-profile {
	margin-right: 18px;
	
	width: 10%;
}
.soc-wrap {
	display: flex;
	margin-left: 10px;
	
}
.left-title {
	margin-top: 20px;
	margin-left: 5px;
	color: #fff;
	font-size: 22px;
	font-weight: 400;
}
.footer-content-wrap {
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
	padding-bottom: 50px;




	
}
.foot-title {
	color: #D3A543;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 20px;
}
.position-profile {
	
	display: flex;
	flex-direction: column;
	margin-right: 25px;
	margin-top: 20px;
}
.right-content {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	border-left: 2px solid #fff;
	padding-left: 42px;
}
.foot-link {
	color: #fff;
	font-size: 15px;
}
.foot-link-wrap {
	margin-top: 20px;
}
.bg-sect-wrap {
	background: url('../img/bg-desk-main.png') center top no-repeat / cover;
}
.form-wrap {
	width: 100%;
	margin-top: 150px;
	display: flex;
	justify-content: space-between;
	
}
.form-main {
	margin-left: 50px;
	width: 450px;
	background-color: rgba(#D3A543, 0.6);




}
.input-desktop-block {
	background: url('../img/desk-input-bg.png') left top no-repeat;
	height: 527px
}
.input-wrap {
	display: flex;
}
.input-desk {
	
	 border: none;
    outline:none;
    margin-left: 10px;
    background-color: rgba(#fff, 0.2);
   	border: 1px solid #fff;
   	border-radius: 5px;
    width: 158px;
    height: 25px;
    padding-left: 15px;
}
.main-input {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	max-width: 350px;
	height: 65px;
	
	
	margin-left: 10%;
	font-size: 13px;
}
#input-desk-2, #input-desk-4 {
	margin-left: 30px;
}
.comment {
		
		 border: none;
	    outline:none;
	     background-color: rgba(#fff, 0.2);
	    	border: 1px solid #fff;
	    	border-radius: 5px;
	    color: white;
	    font-size: 13px;
	    width: 340px;
	    height: 70px;
	    margin-top: 20px;
	    margin-left: 12%;
	    padding: 10px 20px;
}

.btn-desk {
	display: block;
	
    outline:none;
	width: 120px;
	height: 34px;
	 background-color: rgba(#fff, 0.4);
		border: 1px solid #D3A543;
		border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 13px;
	margin-left: 276px;
	margin-top: 10px;
	margin-bottom: 20px;
	color: white;

}
.ask {
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	font-size: 25px;
	color: #fff;
	width: 300px;
	margin-top: 25px;
	margin-bottom: 14px;

}
input[type="text"]::placeholder { 
	
	color: white; 
}
textarea::placeholder { 
	
	color: white;
}
@media (max-width: 1400px) {
	.mobile-img {
		display: none;
	}
	#mobile-img-3 {
		width: 1000px;
	    margin-right: 0;
	    margin-top: -832px;
	}
}
@media (max-width: 1138px) {
	.practice-profile {
   
    min-height: 105px;
	}
	.city-profile img {
	    min-height: 515px;
	}
	.city-block {
		flex-direction: column;
		align-items: center;
	}
	.city-profile {
		margin-top: 50px;

		.line-center {
			display: none;
		}
	}
}
@media (max-width: 1080px) {
	.soc-profile {
    margin-right: 5px;
    width: 50%;
	}
	.blog-profile {
		min-height: 350px;
		
	}
	.shar-img {
    margin-bottom: -34px;
	}

}
@media (max-width: 871px) {
	.sub-mobile {
		margin-top: -61px;
	}
}
@media (max-width: 832px) {
	.blog-profile {
		min-height: 250px;
		
	}
	#pract-3-1 {
    margin-left: 4px;
	}
}



@media (max-width: 621px) {
	.shar-img {
    margin-bottom: -19px;
	}
}
@media (max-width: 733px) {
	.sub-mobile {
		margin-top: -61px;
		margin-left: 140px;
	}
}
@media (max-width: 1138px) {
	.practice-profile {
   
    min-height: 65px;
	}
}
@media (max-width: 521px) {
	.sub-mobile {
		font-size: 15px;
	}
}
@media (max-width: 514px) {
	.main-title {
		margin-left: 10px;
	    margin-right: 10px;
	    padding-top: 22px;
	    font-size: 26px;
	        margin-top: -40px;
	}
	.practice-profile {
   
    min-height: 45px;
	}

}
@media (max-width: 478px) {
	.sub-mobile {
		margin-top: -45px;
		margin-left: 112px;
	}
}
@media (max-width: 716px) {

	.pre-btn-wrap {
		flex-direction: column;
		padding-bottom: 60px;
	}
	.pre-btn-wrap {
		.btn {
			margin-right: 10px;
			margin-bottom: 0;
		}
	}
	.persons {
		img {
			min-height: 200px;
		}
	}
}
@media (max-width: 1162px) {
	.text-center-wrap {
		width: 52%;
		padding-right: 10px;

	}
}
@media (max-width: 604px) {
	.center-logo-block {
			.btn {
		    width: 134px;
		    height: 30px;
		    background-color: transparent;
		    border: 2px solid #D3A543;
		    text-align: center;
		    padding-top: 5px;
		    cursor: pointer;
		    -webkit-transition: background-color .2s linear, color .2s linear;
		    transition: background-color .2s linear, color .2s linear;
		    margin: 0 auto;
		    margin-top: 20px;
		    margin-bottom: 113px;
		    margin-left: 20px;
			}
			.blog-profile {
				min-height: 200px;
				
			}
			.form-main {
		   
		    margin: 0 auto;
			}
	}
	

}
@media (max-width: 531px) {
	.eng-icon {
		margin-left: 5px;
	}
	#eng-icon-7 {
		margin-left: 10px;
	}
	.form-main {
		
		
		margin: 0 auto;
	}
}
@media (max-width: 478px) {
	.blog-profile {
		min-height: 150px;
		
	}
	.blog-profile {
		min-height: 150px;
		
	}
	.desk-link {
	    text-decoration: none;
	    list-style: none;
	    text-transform: uppercase;
	    margin: 0 7px;
	    font-size: 9px;
	    text-align: center;
	    cursor: pointer;
	}

}
@media (max-width: 466px) {
	.input-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
	}
	.comment {
		margin-top: 82px;
		margin-left: 27%;
		width: 173px;
	}
	.btn-desk {
		margin-left: 162px;
	}
	#input-desk-2, #input-desk-4 {
		margin-left: 0;
	}
	.input-desk {
		margin-left: 0;
		margin-top: 8px;
	}
	.form-main {
		width: 312px;

		margin: 0 auto;
	}
}
@media (max-width: 432px) {

	.footer-content-wrap {
		flex-direction: column;
	}
	.left-content {
    width: 90%;
     margin-right: 0px;
    margin: 0 auto;
	}
	.soc-profile {
    margin-right: 15px;
    width: 15%;
	}
	.right-content {
		border-left: none;
	}
	.pre-btn-wrap {
		.btn {
			width: 105px;
			height: 32px;
			background-color: transparent;
			border: 3px solid #D3A543;
			text-align: center;
			font-size: 13px;
			padding-top: 4px;
			cursor: pointer;
			-webkit-transition: background-color .2s linear, color .2s linear;
			transition: background-color .2s linear, color .2s linear;
			margin: 0 auto;
			margin-top: 20px;
			margin-right: 8px;

			&:hover {
			color: #d3a543;
			}
		}
	}
	#pre-btn-1 {
	    width: 130px;
	}
}
@media (max-width: 378px) {
	.blog-profile {
		min-height: 100px;
		
	}

}

