.header {
	background: url('../img/bg-header.png') center top no-repeat / cover;
				
	
	
}
.header-block {
	display: flex;
	justify-content: space-between;
}
.img-pc {
	margin-top: -80px;
	width: 80%;
	padding-bottom: 80px;

	img {
		min-height: 1000px;
	}
}
.header__text {
	max-width: 700px;
	font-weight: 700;
	color: #D3A543;
	font-size: 40pt;
	text-align: right;
	margin-top: 40px;
	margin-right: 60px;
}
.text__title {

}
.sub__title {
	text-transform: uppercase;
	padding-top: 50px;
}

@media (max-width: 1200px) {
	.img-pc {
		

		img {
			min-height: 600px;
		}
	}
}


@media (max-width: 908px) {
	.header__text {
		font-size: 26pt;
	}
}

@media (max-width: 737px) {
	


	    

	.img-pc {
		

		img {
			min-height: 400px;
		}
	}
}
@media (max-width: 645px) {
	.header__text {
		font-size: 17pt;
	}
	.sub__title {
		padding-top: 15px;
	}
}
@media (max-width: 534px) {
	.header__text {
		font-size: 14pt;
		margin-top: 38px;
		    margin-right: 16px;
	}
	.sub__title {
		padding-top: 15px;
	}
}

@media (max-width: 499px) {
	.img-pc {
		

		img {
			min-height: 300px;
		}
	}
}
@media (max-width: 425px) {
	.header__text {
		font-size: 11pt;
		margin-top: 35px;
		    margin-right: 16px;
	}
	.sub__title {
		padding-top: 15px;
	}
}
@media (max-width: 382px) {
	.header__text {
		font-size: 9pt;
		margin-top: 35px;
		    margin-right: 10px;
	}
	.sub__title {
		padding-top: 15px;
	}
}


